<nav class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/chat">Blog</a>
    <a href="/profile" style="float: right">Profile</a>
    <a href="/login" style="float: right">Login</a>
    <a href="/signup" style="float: right">Sign Up</a>
</nav>

<h2 class="has-text-weight-bold">Posts</h2>

<div class="">
    <div class="">
        <div class="">
        </div>
        <div class="">
            <a class="button is-primary" href="/post">New Post</a>
        </div>
    </div>
    <div class="">
        <div class="">
        </div>
    </div>
</div>

<div>
    <ul>
        {{#each posts}}  
        <li class="column is-full">
            <hr>
            <h3 class="has-text-weight-bold">{{this.dataValues.title}}</h3>
            <p>{{this.dataValues.body}}</p>
            <button class="edit button is-info">Edit</button>
            <button class="delete button is-danger">X</button>
            <hr>
        </li>
        {{/each}}
    </ul>
</div>
{{!-- <ul class="blog-container"> --}}
</ul>
<!-- Custom Script -->
<script src="js/blog.js" type="text/javascript"></script>