<nav class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="/contact">Resources</a>
    <a href="/about">About</a>
    <a href="/chat">Blog</a>
    <a href="/profile" style="float: right">Profile</a>
    <a href="/login" style="float: right">Login</a>
    <a href="/signup" style="float: right">Sign Up</a>
</nav>
 
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-grey-light">
          <p class="resourceTitle">COVID Info</p>
          <p class="subtitle"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
<br>

  <a href="https://coronavirus.jhu.edu/">John Hopkins</a>
<br>
<a href="https://www.mayoclinic.org/coronavirus-covid-19">Mayo Clinic</a>

</p>
        </article>
        <article class="tile is-child notification is-grey-light">
          <p class="resourceTitle">Government Departments</p>
          <p class="subtitle">
  <a href="https://www.fns.usda.gov/disaster/pandemic/covid-19/resources-individuals-families">USDA</a>
<br>

  <a href="https://www.benefits.gov/help/faq/Coronavirus-resources">Government Benefits</a>
<br>
<a href="https://www.ed.gov/coronavirus">Department of Education</a>
</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-grey-light">
          <p class="resourceTitle">Testing Sites</a>
</p>
          <p class="subtitle">  <a href="https://www.hhs.gov/coronavirus/community-based-testing-sites/index.html">Find a Site</a>
</p>
          <figure class="image is-4by3">
            <img src=".\stylesheets\COVID-19-Updated-Mar12-KHM-Graphic-1500px-_1500_1110_70.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-grey-light">
        <p class="resourceTitle">Family Resources</p>
        <p class="subtitle">  <a href="https://childcare.gov/covid-19">Childcare Information</a>
<br>

  <a href="https://www.cdc.gov/nutrition/resources-publications/food-and-food-system-resources-during-covid-19-pandemic.html">Food Resources</a>
<br>
<a href="https://www.aacap.org/AACAP/Families_and_Youth/Resource_Libraries/covid-19/resources_helping_kids_parents_cope.aspx">AACAP</a></p>
<br>

       
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-grey-light">
      <div class="content">
        <p class="resourceTitle">Symptoms</p>
        <p class="subtitle">
<table>
  <tr>
  <th> </th>
    <th>COVID-19</th>
    <th>COLD</th>
    <th>FLU</th>
    <th>ALLERGIES</th>
  </tr>
  <tr>
    <td><h4>Fever</h4></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
  </tr>
  <tr>
    <td><h4>Dry Cough</h4></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
  </tr>
    <tr>
    <td><h4>Shortness of Breath</h4></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-minus"></i></td>
    <td><i class="fas fa-minus"></i></td>
    <td><i class="fas fa-check"></i></td>
  </tr>
    <tr>
    <td><h4>Headaches</h4></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
  </tr>
    <tr>
    <td><h4>Aches and Pains</h4></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-minus"></i></td>
  </tr>
    <tr>
    <td><h4>Runny Nose</h4></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
  </tr>
    <tr>
    <td><h4>Sore Throat</h4></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-minus"></i></td>
  </tr>
    <tr>
    <td><h4>Fatigue</h4></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-circle"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-circle"></i></td>
  </tr>
    <tr>
    <td><h4>Sneezing</h4></td>
    <td><i class="fas fa-minus"></i></td>
    <td><i class="fas fa-check"></i></td>
    <td><i class="fas fa-minus"></i></td>
    <td><i class="fas fa-check"></i></td>
  </tr>

  </tr>
  
</table>
        
        <div class="content">
          <td><i class="fas fa-check"></i></td>  Common<br>
          <td><i class="fas fa-circle"></i></td>   Sometimes<br>
          <td><i class="fas fa-minus"></i></td>   Never<br>

        </div>
      </div>
    </article>
  </div>
</div> 