<nav class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/profile" style="float: right">Profile</a>
    <a href="/login.html" style="float: right">Login</a>
    <a href="/signup.html" style="float: right">Sign Up</a>
</nav>

<header>
    <h1 class="title"><i class="fas fa-heartbeat"></i><span style="color:red;font-size:35px"> Viral</span> Support</h1>
    <h4 class="slogan">Spread Support, Not Covid!</h4>
</header>

<div>
  <h2>COVID-19 Statistics for {{this.continent}}</h2>
  <ul>
    <li>
      <p>Cases: {{this.cases.total}}</p>
    </li>
    <li>
      <p>Deaths: {{this.deaths.total}}</p>
    </li>
    <li>
      <p>Recovered: {{this.cases.recovered}}</p>
    </li>
  </ul>
</div>

<button id="myBtn">Open Modal</button>
    <div id="myModal"  class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Welcome to Viral Support! <i class="fas fa-heartbeat"></i></p>
            <span class="close">&times;</span>
          </header>
          <section class="modal-card-body">

            <div class="content">
                <h1>Our Goal</h1>
                <p>It's easy to get lost in the overwhelming amount of misinformation regarding COVID-19. Viral Support offers references to real-time, fact-checked information to help keep you safe.</p>
                <h2>Get Informed</h2>
                <p>Stay up to date on the latest statistics and recommendations by following the links available on our site.
                 <h6> What you can do:</h6>
                    <ul>
                    <li></i> Wear a mask</li>
                    <li>Social distance whenever possible</li>
                    <li>Wash your hands frequently</li>
                    <li>Avoid large crowds</li>
                </ul></p>
                <h2>Get Connected</h2>
                <p>Join our chat board and connect with others by signing up <a>here</a></p>
                
            </div>
          </section>
          <footer class="modal-card-foot">
            

          </footer>
        </div>
      </div>

{{!-- {
  continent: 'North-America',
  country: 'USA',
  population: 331928610,
  cases: {
    new: '+186312',
    active: 7422200,
    critical: 28111,
    recovered: 10919097,
    '1M_pop': '56253',
    total: 18671860
  },
  deaths: { new: '+3115', '1M_pop': '996', total: 330563 },
  tests: { '1M_pop': '717287', total: 238088208 },
  day: '2020-12-23',
  time: '2020-12-23T01:15:11+00:00'
} --}}
<div class="container"></div>
<div class="row"></div>

<footer class="footer">&copy; Copyright 2020</footer>