<nav class="topnav">
    <a class="active" href="index.html">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="#profile" style="float: right">Profile</a>
    <a href="login.html" style="float: right">Login</a>
    <a href="signup.html" style="float: right">Sign Up</a>
</nav>

<header>
    <h1 class="title"><i class="fas fa-heartbeat"></i><span style="color:red;font-size:35px"> Viral</span> Support</h1>
    <h4 class="slogan">Spread Support, Not Covid!</h4>
</header>

{{!-- {
  continent: 'North-America',
  country: 'USA',
  population: 331928610,
  cases: {
    new: '+186312',
    active: 7422200,
    critical: 28111,
    recovered: 10919097,
    '1M_pop': '56253',
    total: 18671860
  },
  deaths: { new: '+3115', '1M_pop': '996', total: 330563 },
  tests: { '1M_pop': '717287', total: 238088208 },
  day: '2020-12-23',
  time: '2020-12-23T01:15:11+00:00'
} --}}

<ul>
{{ this.continent }}
{{ this.cases.new }}
</ul>


<div class="container"></div>
<div class="row"></div>

<footer class="footer">&copy; Copyright 2020</footer>