<nav class="topnav">
    <a class="active" href="index.html">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="#profile" style="float: right">Profile</a>
    <a href="login.html" style="float: right">Login</a>
    <a href="signup.html" style="float: right">Sign Up</a>
</nav>

<header>
    <h1 class="title"><i class="fas fa-heartbeat"></i><span style="color:red;font-size:35px"> Viral</span> Support</h1>
    <h4 class="slogan">Spread Support, Not Covid!</h4>
</header>

<div class="container"></div>
<div class="row"></div>

<footer class="footer">&copy; Copyright 2020</footer>