<nav class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/news">News</a>
  <a href="/contact">Resources</a>
  <a href="/about">About</a>
  <a href="/chat">Blog</a>
  <a class="navbar-brand" href="/logout"> Logout </a>
  <a href="/profile" style="float: right">Profile</a>
  <a href="/login" style="float: right">Login</a>
  <a href="/signup" style="float: right">Sign Up</a>
</nav>
<div class="container">
    <div class="row">
        <div class="">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
</div>
<body>
    <h1>
        About Viral Support
    </h1>
    <p>
        Viral Support was made to help people struggling with COVID-19. Because of this pandemic, many people must deal with loss, fear, and loneliness. It's easy to get lost in the overwhelming amount of misinformation regarding COVID-19. Viral Support provides a way to stay connected with others and offers references to real-time, fact-checked information to help keep you safe. We want our users to feel safe and well informed as well as finding some comfort in connecting with people with shared experiences.
    </p>
</body>
<br>
<div>
    <div class="column is-full has-text-centered">
        <a class="button is-danger is-large" href="/">Home</a>
    </div>
</div>

<script type="text/javascript" src="js/members.js"></script>