<nav class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <a href="/profile" style="float: right">Profile</a>
    <a href="/login" style="float: right">Login</a>
    <a href="/signup" style="float: right">Sign Up</a>
</nav>

<div>
    <h1></h1>
</div>